<a href="https://colab.research.google.com/github/TharinsaMudalige/Simple_Classification_for_Bank_Marketing_Dataset/blob/main/Machine_Learning_CW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [ ]:
file_path = '/content/drive/MyDrive/ML Coursework/bank-additional-full.csv'

# Loading the CSV file into a Pandas DataFrame
data = pd.read_csv(file_path, delimiter=';')
# Displaying the first few rows
print(data.head())

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1    999         0  nonexistent          1.1
1   may         mon  ...         1    999         0  nonexistent          1.1
2   may         mon  ...         1    999         0  nonexistent          1.1
3   may         mon  ...         1    999         0  nonexistent          1.1
4   may         mon  ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]

In [ ]:
print("Initial dataset shape:", data.shape)

Initial dataset shape: (41188, 21)

Data Preprocessing




1.   Handling "unknown values"
2.   Handling the value of pdays

1.   Handling duplicate rows

In [ ]:
# Columns containing unknown values
categorical_columns = ['job', 'marital', 'education', 'default', 'housing', 'loan']

# Handling "unknown" values
for column in categorical_columns:
    unknown_count = data[column].value_counts().get('unknown', 0)
    print(f'"unknown" count in {column}: {unknown_count}')

    if column in ['default', 'education']:  # Taking "unknown" as a separate category
        data[column] = data[column].replace('unknown', 'unknown')
    else:  # Replace "unknown" with the mode for other columns
        data[column] = data[column].replace('unknown', data[column].mode()[0])

# Replacing 999 with -1 as "not contacted"
data['pdays'] = data['pdays'].replace(999, -1)

# Removing duplicate rows
data = data.drop_duplicates()

print("Final dataset shape after cleaning:", data.shape)

"unknown" count in job: 330
"unknown" count in marital: 80
"unknown" count in education: 1731
"unknown" count in default: 8597
"unknown" count in housing: 990
"unknown" count in loan: 990
Final dataset shape after cleaning: (41176, 21)

In [ ]:
print(data.head())

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1     -1         0  nonexistent          1.1
1   may         mon  ...         1     -1         0  nonexistent          1.1
2   may         mon  ...         1     -1         0  nonexistent          1.1
3   may         mon  ...         1     -1         0  nonexistent          1.1
4   may         mon  ...         1     -1         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]

In [ ]:
#Saving the dataset
data.to_csv('/content/drive/My Drive/ML Coursework/bank_additional_full_cleaned.csv', index=False)

4. Encoding categorical variables

In [ ]:
file_path = '/content/drive/My Drive/ML Coursework/bank_additional_full_cleaned.csv'
data = pd.read_csv(file_path)

# Displaying initial information about the dataset
print("Dataset before encoding:")
print(data.info())

Dataset before encoding:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41176 entries, 0 to 41175
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41176 non-null  int64
 1   job             41176 non-null  object
 2   marital         41176 non-null  object
 3   education       41176 non-null  object
 4   default         41176 non-null  object
 5   housing         41176 non-null  object
 6   loan            41176 non-null  object
 7   contact         41176 non-null  object
 8   month           41176 non-null  object
 9   day_of_week     41176 non-null  object
 10  duration        41176 non-null  int64
 11  campaign        41176 non-null  int64
 12  pdays           41176 non-null  int64
 13  previous        41176 non-null  int64
 14  poutcome        41176 non-null  object
 15  emp.var.rate    41176 non-null  float64
 16  cons.price.idx  41176 non-null  float64
 17  cons.conf.idx   41176 non-null  float64
 18  euribor3m       41176 non-null  float64
 19  nr.employed     41176 non-null  float64
 20  y               41176 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
None

In [ ]:
categorical_columns = ['job', 'marital', 'education', 'default', 'housing', 'loan',
                       'contact', 'month', 'day_of_week', 'poutcome']

# Performing one-hot encoding for all categorical variables/features
data_encoded = pd.get_dummies(data, columns=categorical_columns, drop_first=True)

# Displaying information after encoding
print("\nDataset after encoding:")
print(data_encoded.info())

Dataset after encoding:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41176 entries, 0 to 41175
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            41176 non-null  int64
 1   duration                       41176 non-null  int64
 2   campaign                       41176 non-null  int64
 3   pdays                          41176 non-null  int64
 4   previous                       41176 non-null  int64
 5   emp.var.rate                   41176 non-null  float64
 6   cons.price.idx                 41176 non-null  float64
 7   cons.conf.idx                  41176 non-null  float64
 8   euribor3m                      41176 non-null  float64
 9   nr.employed                    41176 non-null  float64
 10  y                              41176 non-null  object
 11  job_blue-collar                41176 non-null  bool
 12  job_entrepreneur               41176 non-null  bool
 13  job_housemaid                  41176 non-null  bool
 14  job_management                 41176 non-null  bool
 15  job_retired                    41176 non-null  bool
 16  job_self-employed              41176 non-null  bool
 17  job_services                   41176 non-null  bool
 18  job_student                    41176 non-null  bool
 19  job_technician                 41176 non-null  bool
 20  job_unemployed                 41176 non-null  bool
 21  marital_married                41176 non-null  bool
 22  marital_single                 41176 non-null  bool
 23  education_basic.6y             41176 non-null  bool
 24  education_basic.9y             41176 non-null  bool
 25  education_high.school          41176 non-null  bool
 26  education_illiterate           41176 non-null  bool
 27  education_professional.course  41176 non-null  bool
 28  education_university.degree    41176 non-null  bool
 29  education_unknown              41176 non-null  bool
 30  default_unknown                41176 non-null  bool
 31  default_yes                    41176 non-null  bool
 32  housing_yes                    41176 non-null  bool
 33  loan_yes                       41176 non-null  bool
 34  contact_telephone              41176 non-null  bool
 35  month_aug                      41176 non-null  bool
 36  month_dec                      41176 non-null  bool
 37  month_jul                      41176 non-null  bool
 38  month_jun                      41176 non-null  bool
 39  month_mar                      41176 non-null  bool
 40  month_may                      41176 non-null  bool
 41  month_nov                      41176 non-null  bool
 42  month_oct                      41176 non-null  bool
 43  month_sep                      41176 non-null  bool
 44  day_of_week_mon                41176 non-null  bool
 45  day_of_week_thu                41176 non-null  bool
 46  day_of_week_tue                41176 non-null  bool
 47  day_of_week_wed                41176 non-null  bool
 48  poutcome_nonexistent           41176 non-null  bool
 49  poutcome_success               41176 non-null  bool
dtypes: bool(39), float64(5), int64(5), object(1)
memory usage: 5.0+ MB
None

In [ ]:
# Saving the encoded dataset
data_encoded.to_csv('/content/drive/My Drive/ML Coursework/bank_additional_full_encoded.csv', index=False)

5. Standardization (Z-Score Normalization)

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
file_path = '/content/drive/My Drive/ML Coursework/bank_additional_full_encoded.csv'
data = pd.read_csv(file_path)

# Separating the features and the target variable
X = data.drop('y', axis=1)  # Dropping the target variable
y = data['y']  # Extracting the target variable


numerical_columns = ['age', 'campaign', 'pdays', 'previous',
                     'emp.var.rate', 'cons.price.idx',
                     'cons.conf.idx', 'euribor3m', 'nr.employed']

# Initializing the StandardScaler to standardize features to have a mean of 0 and standard deviation of 1
scaler = StandardScaler()

# Creating a copy of the dataset
X_standardized = X.copy()
X_standardized[numerical_columns] = scaler.fit_transform(X[numerical_columns])

# Adding the target variable back
X_standardized['y'] = y

In [5]:
# Saving the dataset
X_standardized.to_csv('/content/drive/My Drive/ML Coursework/bank_additional_full_standardized.csv', index=False)

6. Removing the "duration" feature

In [3]:
file_path = '/content/drive/My Drive/ML Coursework/bank_additional_full_standardized.csv'
data = pd.read_csv(file_path)

# Removing the 'duration' feature as it directly correlates with the target variable
data = data.drop('duration', axis=1)

In [4]:
# Saving the dataset
data.to_csv('/content/drive/My Drive/ML Coursework/bank_additional_full_no_duration.csv', index=False)