<a href="https://colab.research.google.com/github/TharinsaMudalige/Simple_Classification_for_Bank_Marketing_Dataset/blob/main/Machine_Learning_CW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [7]:
file_path = '/content/drive/MyDrive/ML Coursework/bank-additional-full.csv'

# Loading the CSV file into a Pandas DataFrame
data = pd.read_csv(file_path, delimiter=';')
# Displaying the first few rows
print(data.head())

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1    999         0  nonexistent          1.1
1   may         mon  ...         1    999         0  nonexistent          1.1
2   may         mon  ...         1    999         0  nonexistent          1.1
3   may         mon  ...         1    999         0  nonexistent          1.1
4   may         mon  ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]

In [8]:
print("Initial dataset shape:", data.shape)

Initial dataset shape: (41188, 21)

Data Preprocessing




1.   Handling "unknown values"
2.   Handling the value of pdays

1.   Handling duplicate rows

In [9]:
# Columns containing unknown values
categorical_columns = ['job', 'marital', 'education', 'default', 'housing', 'loan']

# Handling "unknown" values
for column in categorical_columns:
    unknown_count = data[column].value_counts().get('unknown', 0)
    print(f'"unknown" count in {column}: {unknown_count}')

    if column in ['default', 'education']:  # Taking "unknown" as a separate category
        data[column] = data[column].replace('unknown', 'unknown')
    else:  # Replace "unknown" with the mode for other columns
        data[column] = data[column].replace('unknown', data[column].mode()[0])

# Replacing 999 with -1 as "not contacted"
data['pdays'] = data['pdays'].replace(999, -1)

# Removing duplicate rows
data = data.drop_duplicates()

print("Final dataset shape after cleaning:", data.shape)

"unknown" count in job: 330
"unknown" count in marital: 80
"unknown" count in education: 1731
"unknown" count in default: 8597
"unknown" count in housing: 990
"unknown" count in loan: 990
Final dataset shape after cleaning: (41176, 21)

In [10]:
print(data.head())

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1     -1         0  nonexistent          1.1
1   may         mon  ...         1     -1         0  nonexistent          1.1
2   may         mon  ...         1     -1         0  nonexistent          1.1
3   may         mon  ...         1     -1         0  nonexistent          1.1
4   may         mon  ...         1     -1         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]

In [11]:
#Save the dataset
data.to_csv('/content/drive/My Drive/ML Coursework/bank_additional_full_cleaned.csv', index=False)